.cookie-alert
  align-items: baseline
  background: white
  display: flex
  flex-wrap: wrap
  justify-content: space-between
  left: 0
  position: fixed
  width: 100%
  z-index: 999
  top: 0

  .cookie-content
    flex: 1 0 300px
    margin: 15px

    a
      color: $black
      text-decoration: underline
      font-weight: 700

  button
    flex: 0 0 auto
    padding: 5px 10px
    margin: 15px
    font-family: "Helvetica Neue", sans-serif